.sidePanel {
  height: var(--100dvh);
  width: 18rem;
  padding: 0 0 0 0;
  background-color: var(--mantine-color-body);
  border-right: 1px solid var(--mantine-color-dark-4);
  overflow-y: auto;

  & .smallImage {
    border-radius: .4rem;
    object-fit: cover;
    position: relative;
  }

  & ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 0;

    & li {
      width: 100%;
      padding: 0;
      margin: 0;

      & button {
        background: unset;
        border: unset;
        cursor: pointer;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        border-radius: .4rem;
        transition: background-color .2s;

        &[data-selected="true"] {
            background-color: var(--mantine-color-dark-6);
        }

        &:hover {
          background-color: var(--mantine-color-dark-4);
        }

        & .releaseInfo {
          display: flex;
          flex-direction: column;
          gap: .4rem;
          justify-content: center;
          align-items: flex-start;

          & > div {
            display: flex;
            flex-direction: row;
            gap: .25rem;
            align-items: center;
            color: var(--mantine-color-gray-6);

            & p {
              line-height: 1 !important;
              font-size: var(--mantine-font-size-sm);
            }
          }

          & p {
            line-height: 1 !important;
          }
        }
      }
    }
  }
}